@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .fx-rcb {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* within box */ 
   /* @apply flex flex-row justify-between items-center */
    }
  }